{% load static %}

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="/wishlist/"><span class="icon_heart_alt"></span>
                <div class="tip">{{ wishlist_count }}</div>
            </a></li>
            <li><a href="/showcart/"><span class="icon_bag_alt"></span>
                <div class="tip">{{ cart_count }}</div>
            </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="/"><img src="{% static "main/img/logo.png" %}" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="{% url "login" %}">Login</a>
            <a href="{% url "signup" %}">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a href="/"><img src="{% static "main/img/logo.png" %}" alt=""></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu">
                    <ul>

                        <li class="active"><a href="{% url "home" %}">Home</a></li>
                        
                        <li><a href="/product_list/?data=Men ">Men’s</a></li>
                        <li><a href="/product_list/?data=Women ">Women’s</a></li>
                        <li><a href="/product_list/?data=Kids">Kids</a></li>
                        
                        <li><a href="{% url "contact" %}">Contact</a></li>
                        {% if 'email' in request.session %}

                        <li><a href="">Profile</a>
                            <ul class="dropdown">
                                <li><a href="/user_dashbord/">Dashboard</a></li>
                                <li><a href="/my_order/">Orders</a></li>
                                <li><a href="/showcart/">Cart</a></li>
                                <li><a href="/wishlist/">Wishlist</a></li>
                                <li><a href="/wallet/">Wallet</a></li>
                                <li><a href="{% url "logout" %}">Logout</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__right">
                    <ul class="header__right__widget">
                        <li>
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                            <form method="get" action="/product_list/" >
                                {% csrf_token %}
                                <div class="header-search-wrapper" >
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="search" id="q" placeholder="Search in..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                    </li>
                    <li><a href="/wishlist/"><span class="icon_heart_alt"></span>
                        <div class="tip">{{ wishlist_count }}</div>
                    </a></li>
                    <li><a href="/showcart/"><span class="icon_bag_alt"></span>
                        <div class="tip">{{ cart_count }}</div>
                    </a></li>
                </ul>
                <div class="header__right__auth">
                    {% if not 'email' in request.session %}
                    <a href="{% url "login" %}">Login</a>
                    <a href="{% url "signup" %}">Register</a>
                    {% endif %}
                </div>  
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>



