{% extends 'admin_base.html' %}
{% load static %}


{% block content %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<style>
    .table-container {
        overflow-x: auto;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .table th,
    .table td {
        padding: 15px;
        text-align: center;
        border: 1px solid #ddd;
    }

    .table th {
        background-color: #333;
        color: #fff;
        
        top: 0;
        z-index: 1;
        
    }
    
    .table td {
        white-space: nowrap;
    }

    .table-actions {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .badge.btn {
        cursor: pointer;
    }
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<main id="main" class="main">
    <div class="pagetitle">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1>Coupons</h1>
            </div>
            <div class="col-md-6 text-end">
                <div class="addproductbutton">
                    <a href="{% url "addcoupon" %}" class="btn btn-dark mt-2">Add Coupons</a>
                </div>
            </div>
        </div>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Admin</li>
                <li class="breadcrumb-item active">Coupons</li>
            </ol>
        </nav>
    </div>

    <div class="col-12">
        <div class="card recent-sales overflow-auto">
            <div class="card-body">
                <div class="table-container">
                    <table class="table table-responsive datatable mt-5">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Coupon Code</th>
                                <th>Coupon Title</th>
                                <th>Discount Amount</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Quantity</th>
                                <th>Min Amount</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for coupon in coupons %}
                            <tr>
                                <td>{{ coupon.id }}</td>
                                <td>{{ coupon.code }}</td>
                                <td>{{ coupon.title }}</td>
                                <td>{{ coupon.discount_amount }}</td>
                                <td>{{ coupon.start_date }}</td>
                                <td>{{ coupon.end_date }}</td>
                                <td>{{ coupon.quantity }}</td>
                                <td>{{ coupon.min_amount }}</td>
                                <td class="table-actions">
                                    {% if coupon.active == False %}
                                        <a href="/active_coupon/{{coupon.id}}" class="badge btn btn-success" data-toggle="tooltip" data-placement="top" title="Activate">Activate</a>
                                    {% else %}
                                        <a href="/active_coupon/{{coupon.id}}" class="badge btn btn-danger" data-toggle="tooltip" data-placement="top" title="Deactivate">Deactivate</a>
                                    {% endif %}
                                    <a href="/edit_coupon/{{coupon.id}}" class="badge btn btn-warning" data-toggle="tooltip" data-placement="top" title="Edit">Edit</a>
                                </td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Button trigger modal -->

        </div>
    </div>
</main>



{% endblock %}










