{% extends 'base.html' %}
{% load static %}

{% block header %}
{% include "inc/navbar.html" %}
{% endblock header %}


{% block content %}

  <div class="top-banner p-5">
    <h1 class="text-center text-dark py-2" style="font-size: 24px; font-weight: bold; font-family: 'Roboto', sans-serif;"><b>MY ORDERS</b></h1>
</div>

  
    <div class="container">
        <section id="cart_page" class="cart pt-4 pb-4">
            <div class="container-xl">
              <table class="table table-light ">
                <thead> 
                  <tr class="custom-th">
                    <th style="text-align: center; vertical-align: middle;" scope="col">Product Image</th>
                    <th style="text-align: center; vertical-align: middle;" scope="col">Product</th>
                    <th style="text-align: center; vertical-align: middle;" scope="col">Price</th>
                    <th style="text-align: center; vertical-align: middle;" scope="col">Quantity</th>
                    <th style="text-align: center; vertical-align: middle;" scope="col">Total Price</th>
                     {% comment %} <th style="text-align: center; vertical-align: middle;" scope="col">Order Details</th>  {% endcomment %}
                    <th style="text-align: center; vertical-align: middle;" scope="col">Order Status</th>
                    <th style="text-align: center; vertical-align: middle;" scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in order %}
                  <tr>
                    <td style="text-align: center; vertical-align: middle;"><img src="{{ i.product.product_id.img1.url }}" height='100px'></td>
                    <td style="text-align: center; vertical-align: middle;">{{ i.product.product_id.name }}</td>
                    <td style="text-align: center; vertical-align: middle;">{{ i.product.product_id.selling_price }}</td>
                    <td style="text-align: center; vertical-align: middle;">{{ i.quantity }}</td>
                    <td style="text-align: center; vertical-align: middle;">{{ i.pro_total }}</td>
                     {% comment %} <td style="text-align: center; vertical-align: middle;"><a class="btn btn-sm btn-outline-secondary">View Order</a></td>  {% endcomment %}
                    <td style="text-align: center; vertical-align: middle;"><span class="badge text-primary">{{ i.status }}</span></td>
					<td style="text-align: center; vertical-align: middle;">
						{% if i.status == "Cancellation request sent" or i.status == "Cancelled" or i.status == "Returned" %}
							<a href="/product_details/{{i.product.product_id.id}}" class="btn btn-sm btn-outline-info" >View Product</a>
						{% elif i.status == "Delivered" %}
						<button class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#ReturnModal-{{forloop.counter}}">
							Return Product
						</button>						
						{% else %}
							<button class="btn btn-sm btn-outline-danger" onclick="prepareCancelModal({{ i.id }})" data-toggle="modal" data-target="#cancelModal">Cancel Order</button>
						{% endif %}
					</td>
							
                  </tr>
                  {% endfor %}		
                </tbody>
              </table>

            </div>
          </section>
   

          <!-- Modal -->
		  <div class="modal" id="cancelModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content mar">
					<div class="modal-header">
						<h5 class="modal-title">Reason for Cancellation</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form method="post">
						{% csrf_token %}
						<div class="modal-body">
							<!-- Include the order ID in the modal form -->
							<input type="hidden" id="cancelOrderID" name="orderid">
							<label for="cancelReason">Please provide a reason:</label>
							<textarea id="cancelReason" class="form-control" rows="4" cols="50"></textarea>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-danger" onclick="submitCancelation()">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		{% for i in order %}
		<div class="modal fade" id="ReturnModal-{{forloop.counter}}" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content mar">
					<div class="modal-header">
						<h5 class="modal-title" id="customConfirmationModalTitle">Confirmation</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Are you sure you want to return this <b> {{ i.product.product_id.name }}?</b>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<a href="../return_product/{{i.id}}" type="button" class="btn btn-danger">Confirm</a>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
        </div>
		<script>
			function prepareCancelModal(orderId) {
				// Set the order ID in the hidden input field of the modal
				$("#cancelOrderID").val(orderId);
				console.log("Order ID prepared for cancellation: " + orderId);
			}
		
			function submitCancelation() {
				// Get the cancel reason from the textarea
				var cancelReason = $("#cancelReason").val();
				// Get the order ID from the hidden input field
				var orderId = $("#cancelOrderID").val();
		
				console.log("Submitting cancellation for Order ID: " + orderId);
				console.log("Cancel Reason: " + cancelReason);
		
				// Make the AJAX request
				
				$.ajax({
					url: "/cancel_request",  // Replace with the actual URL of your Django endpoint
					type: "POST",
					data: {
						cancel_reason: cancelReason,
						order_id: orderId,
						csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
					},
					success: function (data) {
						location.reload();
						$("#cancelModal").modal("hide");
					},
					error: function (error) {
						// Handle error response from the server
						console.error("Error submitting cancellation", error);
					}
				});
			}
		</script>
		

		
		  
{% endblock %}


{% block instagram %}
{% include "inc/instagram.html" %}
{% endblock instagram %}


{% block footer %}
{% include "inc/footer.html" %}
{% endblock footer %}