{% extends "base.html" %}
{% load static %}


{% block header %}
{% include "inc/navbar.html" %}
{% endblock header %}




{% block content %}


<link rel="stylesheet" href="{% static "molla/assets/css/bootstrap.min.css" %}">

<link rel="stylesheet" href="{% static "molla/assets/css/style.css" %}">  


    <div class="page-wrapper">
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">My Account<span></span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            

        

            <div class="page-content">
                <div class="dashboard">
                    <div class="container">
                        <div class="row">
                            <aside class="col-md-4 col-lg-3">
                                <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
                                            href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
                                            aria-selected="true">My Profile</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account"
                                            role="tab" aria-controls="tab-account" aria-selected="false">Edit Details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-order-link" data-toggle="tab" href="#tab-order"
                                            role="tab" aria-controls="tab-order" aria-selected="false">My Orders</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-order-link" data-toggle="tab" href="#tab-wallet"
                                            role="tab" aria-controls="tab-wallet" aria-selected="false">Wallet</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address"
                                            role="tab" aria-controls="tab-address" aria-selected="false">Manage Addresses</a>
                                    </li>
                                   
                                    <li class="nav-item">
                                        <a class="nav-link" href="/logout/">Sign Out</a>
                                    </li>
                                </ul>
                            </aside><!-- End .col-lg-3 -->
            


                            <div class="col-md-8 col-lg-9">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
                                        aria-labelledby="tab-dashboard-link">
                                        <h6 class="text-center fs-1 font-monospace text-decoration-underline">My Profile</h6>
            
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>Name</label>
                                                    <input type="text" class="form-control" value="{{ user.username }}" readonly>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->
                                            <label>Mobile Number</label>
                                            <input type="Number" class="form-control"  value="{{ user.number }}" readonly>
                                            <label>Email</label>
                                            <input type="email" class="form-control"  value="{{ user.email }}" readonly>
                                            <label>Gender</label>
                                            <input type="text" class="form-control"  value="{{ user.gender }}" readonly> 
                                            <label>Date of Birth</label>
                                            <input type="date" class="form-control"  value="{{ user.dob|date:'Y-m-d'  }}" readonly> 
                                        </form>
                                    </div><!-- .End .tab-pane -->
                                    {% if messages %}
                                    <ul class="messages  " style="list-style: none; color:red">
                                        {% for message in messages %}
                                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                    <div class="tab-pane fade" id="tab-order" role="tabpanel" aria-labelledby="tab-order-link">
                                        <!-- <div class="row mx-auto"> -->
                                        <div class="card col-md-5 col-10 m-2 shadow-sm" id="allorder"
                                            style="border-radius: 7px; background: #F3F3F9; cursor: pointer;">
                                            <a href="/my_order/" >
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-center mt-1 py-4">
                                                        <i class="fa-solid fa-box-open mx-3" style="font-size: 35px;"></i>
                                                        <h5 class="m-0 align-self-center" style="font-weight: 300;">All Orders</h5>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <!-- </div> -->
                                    </div><!-- .End .tab-pane -->
                                    <div class="tab-pane fade" id="tab-wallet" role="tabpanel" aria-labelledby="tab-order-link">
                                        <!-- <div class="row mx-auto"> -->
                                        <div class="card col-md-5 col-10 m-2 shadow-sm" id="allorder"
                                            style="border-radius: 7px; background: #F3F3F9; cursor: pointer;">
                                            <a href="/wallet/" >
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-center mt-1 py-4">
                                                        <i class="fa-solid fa-box-open mx-3" style="font-size: 35px;"></i>
                                                        <h5 class="m-0 align-self-center" style="font-weight: 300;">Wallet</h5>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <!-- </div> -->
                                    </div><!-- .End .tab-pane -->












                                    <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
								    	<p>The following addresses will be used on the checkout page by default.</p>

								    	<div class="row">
                                            {% for address in addresses %}
								    		<div class="col-lg-6">
								    			<div class="card card-dashboard">
                                                    
								    				<div class="card-body">
								    					<h3 class="card-title">Address </h3><!-- End .card-title -->
                                                        
														<p>{{address.name}}<br>
                                                            {{address.number}}<br>
														
                                                        {{ address.address }},<br>
														{{ address.city }},<br>
														{{ address.state }},<br>
                                                        {{ address.pincode }}<br>
														{% comment %} <a href="#">Edit <i class="icon-edit"></i></a></p> {% endcomment %}
                                                        <div class="d-flex justify-content-end">
                                                            <a href="/edit_address/{{address.id}}">Edit <i class="icon-edit"></i>  </a>
                                                            <a href="/delete_address/{{address.id}}"> &nbsp;&nbsp;Remove <i class="fa-solid fa-trash" style="color: #c96;"></i></a>
            
                                                        </div>
								    				</div><!-- End .card-body -->
								    			</div><!-- End .card-dashboard -->
								    		</div><!-- End .col-lg-6 -->
                                            {% endfor %}
                                            
								    		<div class="col-lg-6">
								    			<div class="card card-dashboard">
								    				<div class="card-body">
								    					<h3 class="card-title">Shipping Address</h3><!-- End .card-title -->

														<p>You have not set up this type of address yet.<br>
														<a href="/add_address/">Add <i class="icon-edit"></i></a></p>
								    				</div><!-- End .card-body -->
								    			</div><!-- End .card-dashboard -->
								    		</div><!-- End .col-lg-6 -->
                                            
								    	</div><!-- End .row -->
								    </div><!-- .End .tab-pane -->

                                    <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
            
            
                                        <a href="">

                                            <div class="d-flex justify-content-end mr-3">
                                                <button class="btn btn-dark" id="addAddressBtn">Add New Address</button>
                                            </div>
                                        </a>
                                        {% for address in addresses %}
                                        <div class="address-container" style="border: 1px solid #333; margin: 10px; padding: 20px; color: black;">
                                           
                                            
                                            
                                                <div style="margin-bottom: 10px;">
                                                    <span style="font-weight: bold;">Address {{ forloop.counter }}:</span>
                                                    {{address.name}} <br>
                                                    {{address.number}} <br>
                                                    {{ address.address }}, {{ address.city }}, {{ address.state }}, {{ address.pincode }}<br>
                                                </div>
                                            
                                            
                                            <div class="d-flex justify-content-end">
                                                <a href="/update_address/{{address.id}}" class="btn-primary" id="editAddressBtn1" style="font-size: 12px; width: 65px; margin-right: 10px; text-align: center; display: inline-block; line-height: 1.5;">Edit</a>
                                                <a href="/remove_address/{{address.id}}" class="btn-danger" id="removeAddressBtn1" style="font-size: 12px; width: 65px; text-align: center; display: inline-block; line-height: 1.5;">Remove</a>

                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                                        <h6 class="text-center fs-1 font-monospace text-decoration-underline">Edit Details</h6>
                                        <form method="post" action="/update_profile/" id="update_form">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>Full Name</label>
                                                    <input type="text" name="name" class="form-control" value="{{ user.username }}">
                                                    <div class="error-class text-danger small "></div>
                                                </div>
                                               
                                            </div>
                                            <label>Mobile Number</label>
                                            <input type="text" name="number" class="form-control" value="{{ user.number }}">
                                            <div class="error-class text-danger small "></div>
                                            {% if messages %} <div class="text-danger">{{ message }}</div> {% endif %}
                                            <label for="gender">Gender</label>
                                            <select name="gender" id="gender" class="form-control">
                                                <option value="" {% if not user.gender %}selected{% endif %}>Select Gender</option>
                                                <option value="male" {% if user.gender == 'male' %}selected{% endif %}>Male</option>
                                                <option value="female" {% if user.gender == 'female' %}selected{% endif %}>Female</option>
                                            </select>

                                            <label>Date of Birth</label>
                                            <input type="date" name="dob" class="form-control"  value="{{ user.dob|date:'Y-m-d'  }}" > 
                                            <button type="submit" class="btn btn-outline-primary-login">
                                                <span>SAVE CHANGES</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                        </form>
                                        
                                        <hr>
                                        <h6 class=" font-monospace">Change Password</h6>
                                        <form method="post" action="/change_password/" id="change_password_form">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <label for="oldPassword">Current Password</label>
                                                        <input type="password" name="oldPassword" id="oldPassword" class="form-control" required>
                                                        <div id="oldPassword-error" class="error-message text-danger"></div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label for="newPassword">New Password</label>
                                                        <input type="password" name="newPassword" id="newPassword" class="form-control" required>
                                                        <div id="newPassword-error" class="error-message text-danger"></div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label for="conPassword">Confirm New Password</label>
                                                        <input type="password" name="conPassword" id="conPassword" class="form-control" required>
                                                        <div id="conPassword-error" class="error-message text-danger"></div>
                                                    </div>
                                                </div>
                                                <div id="password-error" class="error-message"></div>
                                                <button type="submit" class="btn btn-outline-primary-login">
                                                    <span>CHANGE PASSWORD</span>
                                                    <i class="icon-long-arrow-right"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </div><!-- .End .tab-pane -->
                                </div>
                            </div><!-- End .col-lg-9 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
            
        </main><!-- End .main -->

        
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    

    <!-- Sign in / Register Modal -->
   
    <!-- Plugins JS File -->
    <script src="{% static "/molla/assets/js/jquery.min.js" %}"></script>
    <script src="{% static "/molla/assets/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "/molla/assets/js/jquery.hoverIntent.min.js" %}"></script>
    <script src="{% static "/molla/assets/js/jquery.waypoints.min.js" %}"></script>
    <script src="{% static "/molla/assets/js/superfish.min.js" %}"></script>
    <script src="{% static "/molla/assets/js/owl.carousel.min.js" %}"></script>
    <!-- Main JS /molla/File -->
    <script src="{% static "/molla/assets/js/main.js" %}"></script>


        

{% comment %} <link rel="stylesheet" href="{% static "molla/assets/css/bootstrap.min.css" %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static "molla/assets/css/style.css" %}"> {% endcomment %}
{% endblock %}