{% extends "admin_base.html" %}
{% load static %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  

<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white me-2">
        <i class="mdi mdi-home"></i>
      </span> Dashboard
    </h3>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
        </li>
      </ul>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-3 stretch-card grid-margin">
      <div class="card bg-gradient-danger card-img-holder text-white">
        <div class="card-body">
          <img src="{% static "admin/assets/images/dashboard/circle.svg" %}" class="card-img-absolute" alt="circle-image" />
          <h4 class="font-weight-normal mb-3">Total Orders <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
          </h4>
          <h2 class="mb-5">{{ orders_count }}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-3 stretch-card grid-margin">
      <div class="card bg-gradient-info card-img-holder text-white">
        <div class="card-body">
          <img src="{% static "admin/assets/images/dashboard/circle.svg" %}" class="card-img-absolute" alt="circle-image" />
          <h4 class="font-weight-normal mb-3">Total Sales <i class="mdi mdi-chart-line mdi-24px float-right"></i>
          </h4>
          <h2 class="mb-5">{{ total_amount }}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-3 stretch-card grid-margin">
      <div class="card bg-gradient-warning card-img-holder text-white">
        <div class="card-body">
          <img src="{% static "admin/assets/images/dashboard/circle.svg" %}" class="card-img-absolute" alt="circle-image" />
          <h4 class="font-weight-normal mb-3">Discount <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
          </h4>
          <h2 class="mb-5">{{ offer_amount }}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-3 stretch-card grid-margin">
      <div class="card bg-gradient-success card-img-holder text-white">
        <div class="card-body">
          <img src="{% static "admin/assets/images/dashboard/circle.svg" %}" class="card-img-absolute" alt="circle-image" />
          <h4 class="font-weight-normal mb-3">Customers <i class="mdi mdi-diamond mdi-24px float-right"></i>
          </h4>
          <h2 class="mb-5">{{ user_count }}</h2>
        </div>
      </div>
    </div>
  </div>

    <!------------------------------ Sales by Month -------------------------->

  <div class="row">
    <div class="col-md-7 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="clearfix">
            <h4 class="card-title float-left">Sales by Month</h4>
            <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal legend-top-right float-right"></div>
          </div>
         <canvas id="monthly-sales-chart"></canvas>
        </div>
      </div>
    </div>
    <!------------------------------ Payment Methods -------------------------->
    <div class="col-md-5 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Payment</h4>
            <canvas id="traffic-chart" ></canvas>
            <div id="traffic-chart-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4"></div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>





<!-------------------------------------- monthly sales graph -------------------------------->

  <script>
    var ctx = document.getElementById('monthly-sales-chart').getContext("2d");

    var sales_data = {{ monthly_sales_data|safe }};


    var gradientStrokeBlue = ctx.createLinearGradient(0, 0, 0, 360);
    gradientStrokeBlue.addColorStop(0, 'rgba(54, 215, 232, 1)');
    gradientStrokeBlue.addColorStop(1, 'rgba(177, 148, 250, 1)');
    var gradientLegendBlue = 'linear-gradient(to right, rgba(54, 215, 232, 1), rgba(177, 148, 250, 1))';

    // Sample monthly sales data
    var monthlySalesData = {
        labels: ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
        datasets: [{
            label: 'Total Sales',
            backgroundColor: gradientStrokeBlue,
            borderColor: gradientStrokeBlue,
            borderWidth: 1,
            data:sales_data
        }]
    };

    var monthlySalesChart = new Chart(ctx, {
        type: 'bar',
        data: monthlySalesData,
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            legend: {
                display: false
            }
        }
    });
</script>










<!----------------------- Payment Method count -------------------------------->

 <script>
  // Initialize variables for gradient colors
  var ctx = document.getElementById('traffic-chart').getContext('2d');

  var paymentMethodLabels = {{ payment_method_labels|safe }};
  var totalOrdersData = {{ payment_method_data|safe }};

  var gradientStrokeBlue = ctx.createLinearGradient(0, 0, 0, 181);
  gradientStrokeBlue.addColorStop(0, 'rgba(54, 215, 232, 1)');
  gradientStrokeBlue.addColorStop(1, 'rgba(177, 148, 250, 1)');
  var gradientLegendBlue = 'linear-gradient(to right, rgba(54, 215, 232, 1), rgba(177, 148, 250, 1))';

  var gradientStrokeRed = ctx.createLinearGradient(0, 0, 0, 50);
  gradientStrokeRed.addColorStop(0, 'rgba(255, 191, 150, 1)');
  gradientStrokeRed.addColorStop(1, 'rgba(254, 112, 150, 1)');
  var gradientLegendRed = 'linear-gradient(to right, rgba(255, 191, 150, 1), rgba(254, 112, 150, 1))';

  var gradientStrokeGreen = ctx.createLinearGradient(0, 0, 0, 300);
  gradientStrokeGreen.addColorStop(0, 'rgba(6, 185, 157, 1)');
  gradientStrokeGreen.addColorStop(1, 'rgba(132, 217, 210, 1)');
  var gradientLegendGreen = 'linear-gradient(to right, rgba(6, 185, 157, 1), rgba(132, 217, 210, 1))';

  // Define chart data
  var trafficChartData = {
      datasets: [{
          data: totalOrdersData,
          backgroundColor: [
              gradientStrokeBlue,
              gradientStrokeGreen,
              gradientStrokeRed
          ],
          hoverBackgroundColor: [
              gradientStrokeBlue,
              gradientStrokeGreen,
              gradientStrokeRed
          ],
          borderColor: [
              gradientStrokeBlue,
              gradientStrokeGreen,
              gradientStrokeRed
          ],
          legendColor: [
              gradientLegendBlue,
              gradientLegendGreen,
              gradientLegendRed
          ]
      }],

      // These labels appear in the legend and in the tooltips when hovering different arcs
      labels: paymentMethodLabels
  };

  // Define chart options
  var trafficChartOptions = {
      responsive: true,
      animation: {
          animateScale: true,
          animateRotate: true
      },
      legend: false,
      legendCallback: function (chart) {
          var text = [];
          text.push('<ul>');
          for (var i = 0; i < trafficChartData.datasets[0].data.length; i++) {
              text.push('<li><span class="legend-dots" style="background:' +
                  trafficChartData.datasets[0].legendColor[i] +
                  '"></span>');
              if (trafficChartData.labels[i]) {
                  text.push(trafficChartData.labels[i]);
              }
              text.push('<span class="float-right">' + trafficChartData.datasets[0].data[i] + "%</span>")
              text.push('</li>');
          }
          text.push('</ul>');
          return text.join('');
      }
  };

  // Create the chart
  var trafficChartCanvas = document.getElementById("traffic-chart").getContext("2d");
  var trafficChart = new Chart(trafficChartCanvas, {
      type: 'doughnut',
      data: trafficChartData,
      options: trafficChartOptions
  });

  // Render legend
  document.getElementById('traffic-chart-legend').innerHTML = trafficChart.generateLegend();
</script>





<div class="row ">
  <div class="col-md-12  grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="sales-report-form">
              <p class="card-title">Sales Reports</p>
              <form action="/sales_report/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="interval" class="text-muted font-weight-light">Choose a time interval:</label>
                  <input type="hidden" value="fixed" name="filter">
                  <select name="interval" id="interval" class="form-control">
                    <option value="day">Day</option>
                    <option value="week">Week</option>
                    <option value="month">Month</option>
                    <option value="year">Year</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-success btn-block">Generate Report</button>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="sales-report-form">
              <p class="card-title"></p>
              <form action="/sales_report/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <input type="hidden" value="custom" name="filter">
                  <label for="start_date" class="text-muted font-weight-light">Select a start date:</label>
                  <input type="date" name="start_date" id="start_date" class="form-control" placeholder="Start Date">
                </div>
                <div class="form-group">
                  <label for="end_date" class="text-muted font-weight-light">Select an end date:</label>
                  <input type="date" name="end_date" id="end_date" class="form-control" placeholder="End Date">
                </div>
                <button type="submit" class="btn btn-success btn-block">Generate Report</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Best Selling Products</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Total Orders</th>
                </tr>
              </thead>
              <tbody>
                {% for product in top_products %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ product.product__product_id__name }}</td>
                  <td>{{ product.total_sales }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Best Selling Categories</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>  </th>
                  <th> Name </th>
                  <th> Total Order</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for category in top_categories  %}
                  <td> {{ forloop.counter }} </td>
                  <td> {{ category.name }} </td>
                  <td> {{ category.total_ordered_products }} </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Recent Orders</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th> User </th>
                  <th> Product </th>
                  <th> Status </th>
                  <th> Last Update </th>
                  <th> Order ID </th>
                </tr>
              </thead>
              <tbody>
                {% for order in last_orders %}
                <tr>
                  <td> {{ order.user }}</td>
                  <td> {{ order.product }} </td>
                  <td>
                    {% if order.status == 'Order confirmed' %}
                      <label class="badge badge-gradient-primary">{{ order.status }}</label>
                    {% elif order.status == 'Cancelled' %}
                    <label class="badge badge-gradient-danger">{{ order.status }}</label>
                    {% elif order.status == 'Delivered' %}
                    <label class="badge badge-gradient-success">{{ order.status }}</label>
                    {% elif order.status == 'Out for delivery' %}
                    <label class="badge badge-gradient-warning">{{ order.status }}</label>
                    {% else %}
                    <label class="badge badge-gradient-info">{{ order.status }}</label>

                    {% endif %}
                  </td>
                  <td> {{ order.delivery_date }} </td>
                  <td> {{ order.id }} </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}









