{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Admin</title>

    <link rel="stylesheet" href="{% static "admin/assets/vendors/mdi/css/materialdesignicons.min.css" %}">
    <link rel="stylesheet" href="{% static "admin/assets/vendors/css/vendor.bundle.base.css" %}">

    <link rel="stylesheet" href="{% static "admin/assets/css/style.css" %}">

    <link rel="shortcut icon" href="{% static "admin/assets/images/favicon.ico" %}" />
    <script src="https://kit.fontawesome.com/3d2722b4dd.js" crossorigin="anonymous"></script>
{% block head %}

{% endblock head %}


  </head>
  {% block style %}
  
  {% endblock style %}
  <body>

    
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="/adminhome/"><img src="{% static "main/img/logo.png" %}" alt="logo" /></a>
          <a class="navbar-brand brand-logo-mini" href="/adminhome/"><img src="{% static "main/img/logo.png" %}" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <div class="search-field d-none d-md-block">
            <form class="d-flex align-items-center h-100" action="#">
              <div class="input-group">
                <div class="input-group-prepend bg-transparent">
                  <i class="input-group-text border-0 mdi mdi-magnify"></i>
                </div>
                <input type="text" class="form-control bg-transparent border-0" placeholder="Search" name="search">
              </div>
            </form>
          </div>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
                  <img src="{% static "admin/assets/images/faces/face1.jpg" %}" alt="image">
                  <span class="availability-status online"></span>
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1 text-black">Ashion</p>
                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="{% url "adminlogout" %}">
                  <i class="mdi mdi-logout me-2 text-primary"></i> Signout </a>
              </div>
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "AdminHome" %}">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "manageuser" %}">
                  <span class="menu-title">Customer</span>
                  <i class="mdi mdi-contacts menu-icon"></i>
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Products</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/product/">Products</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/addproduct/">Add Product</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
                <span class="menu-title">Categories</span>
                <i class="menu-arrow"></i>
                <i class="fa-solid fa-store" style="color: #e4e2e2;"></i>
              </a>
              <div class="collapse" id="general-pages">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"><a class="nav-link" href="{% url 'category' %}">Category</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'addcategory' %}">Add Category</a></li>

                </ul>
              </div>
            </li>


            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#general-pages1" aria-expanded="false" aria-controls="general-pages">
                <span class="menu-title">Orders</span>
                <i class="menu-arrow"></i>
                <i class="fa-solid fa-store" style="color: #e4e2e2;"></i>
              </a>
              <div class="collapse" id="general-pages1">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"><a class="nav-link" href="/manage_order/">Order</a></li>
                  <li class="nav-item"><a class="nav-link" href="/cancelled_orders/">Cancelled</a></li>
                  <li class="nav-item"><a class="nav-link" href="/order_return/">Return </a></li>


                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url "coupon" %}">
                <span class="menu-title">Coupon</span>
                <i class="mdi mdi-table-large menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#offers" aria-expanded="false" aria-controls="general-pages">
                  <span class="menu-title">Offers</span>
                  <i class="menu-arrow"></i>
                  <i class="fa-solid fa-store" style="color: #e4e2e2;"></i>
                </a>
                <div class="collapse" id="offers">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/product_offers/">Product Offers</a></li>
                    <li class="nav-item"><a class="nav-link" href="/category_offers/">Category Offers</a></li>
                  </ul>
                </div>
              </li>
          </ul>
        </nav>



        <!-- partial -->
        <div class="main-panel">
          {% block content %}
          
          {% endblock content %}


          <div id="message-container" class="position-fixed bottom-0 end-0 p-3" style="z-index: 11;">
            {% if messages %}
                {% for message in messages %}
                    <div class="toast {% if message.tags == 'error' %}bg-danger{% elif message.tags == 'success' %}bg-success{% endif %}" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000" >
                        <div class="toast-header">
                            <strong class="mr-auto">{{ message.tags }}</strong>
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="toast-body" style="color: cornsilk;">
                          {{ message }} 
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        
        

        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>


    <!-- Include Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static "admin/assets/vendors/js/vendor.bundle.base.js" %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static "admin/assets/vendors/chart.js/Chart.min.js" %}"></script>
    <script src="{% static "admin/assets/js/jquery.cookie.js" %}" type="text/javascript"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static "admin/assets/js/off-canvas.js" %}"></script>
    <script src="{% static "admin/assets/js/hoverable-collapse.js" %}"></script>
    <script src="{% static "admin/assets/js/misc.js" %}"></script>
    <!-- endinject -->

    <!-- Custom js for this page -->
    <script src="{% static "admin/assets/js/dashboard.js" %}"></script>

    {% block scripts %}
    
    {% endblock scripts %}

    <!-- End custom js for this page -->
    <script>
      $(document).ready(function () {
          // Manually trigger a Bootstrap toast and append it to the new container
          $('.toast').toast('show').appendTo('#message-container');
      });
  </script>
  </body>
</html>