{% extends "admin_base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "admin/usermanage.css" %}">




<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<style>
	.search-form-container {
		display: flex;
		justify-content: flex-end;
		
	}

	.search-form {
		display: flex;
		align-items: center;
	}

	.search-form .form-control {
		margin-right: 5px; 
	
	}
	.unblock{
		color:white !important;
    background-color: rgb(0, 118, 0);
	}
	.block{
		color:white !important;
    background-color: rgb(124, 0, 0)
    
	}
</style>

<main id="main" class="main">
		<div class="pagetitle">
			<div class="row align-items-center">
				<div class="col-md-6">
					<h2>Manage <b>Users</b></h2>
				</div>
				<div class="col-md-6 text-end">
					<form class="d-flex justify-content-end" method="GET" action="">
						<input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search" name="search">
						<button class="btn btn-outline-primary" type="submit">Search</button>
					</form>
				</div>
			</div>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item">Admin</li>
					<li class="breadcrumb-item active">Manage Users</li>
				</ol>
			</nav>
		</div>
		<!-- End Page Title -->


	<div class="col-12">
		<div class="card recent-sales overflow-auto">
			<div class="card-body">
				<table class="table table-border datatable  mt-3">
					<thead>                        
						<tr>
							<th>id</th>
							<th>Username</th>
							<th>Phone</th>
							<th>Email</th>
							<th>date of joined</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for i in data %}
					<tr>
						<td>{{i.id}}</td>
						<td>{{i.username}}</td>
						<td>{{i.number}}</td>
						<td>{{i.email}}</td>
						<td>{{i.date_joined}}</td>
						<td>
						{% if i.is_blocked %}
						<a href="/unblockuser/{{i.id}}" class="btn unblock " data-toggle="modal">Un BLock</a>
						{% else %}
						<a href="/blockuser/{{i.id}}" class="btn block " data-toggle="modal">Block</a>
						{% endif %}

						</td>
					</tr>
					{% endfor %}
						<!-- Repeat this block for additional dummy content -->
					</tbody>
				</table>

	<!------------------------------ pagination -------------------------->
		{% if data.paginator.num_pages > 1 %}
			{% if not disable_pagination %}
				<div class="pagination justify-content-center">
					<ul class="pagination">
						{% if data.has_previous %}
							<li class="page-item">
								<a class="page-link" href="?page=1">&laquo; First</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="?page={{ data.previous_page_number }}">Previous</a>
							</li>
						{% else %}
							<li class="page-item disabled">
								<span class="page-link">&laquo; First</span>
							</li>
							<li class="page-item disabled">
								<span class="page-link">Previous</span>
							</li>
						{% endif %}
						
						<li class="page-item">
							<span class="page-link">
								Page {{ data.number }} of {{ data.paginator.num_pages }}
							</span>
						</li>
						
						{% if data.has_next %}
							<li class="page-item">
								<a class="page-link" href="?page={{ data.next_page_number }}">Next</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="?page={{ data.paginator.num_pages }}">Last &raquo;</a>
							</li>
						{% else %}
							<li class="page-item disabled">
								<span class="page-link">Next</span>
							</li>
							<li class="page-item disabled">
								<span class="page-link">Last &raquo;</span>
							</li>
						{% endif %}
					</ul>
				</div>
				{% endif %}
			{% endif %}
		<!------------------------------ end pagination -------------------------->

			</div>
		</div>
	</div><!-- End Recent Sales -->
</main>


{% endblock %}