{% extends "base.html" %}
{% load static %}


    <!-- Header Section Begin -->
{% block header %}
{% include "inc/navbar.html" %}
{% endblock header %}
    <!-- Header Section End -->


{% include "inc/message.html" %}
{% block content %}

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <a href="/product_list/?data={{product.category}}">{{ product.category }} </a>
                        <span>{{ product.name }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll">
                            <a class="pt active" href="#product-1">
                                <img src="{{ product.img1.url }}" alt="">
                            </a>
                            <a class="pt" href="#product-2">
                                <img src="{{ product.img2.url }}" alt="">
                            </a>
                            <a class="pt" href="#product-3">
                                <img src="{{ product.img3.url }}" alt="">
                            </a>
                            <a class="pt" href="#product-4">
                                <img src="{{ product.img4.url }}" alt="">
                            </a>
                        </div>
                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                                <img data-hash="product-1" class="product__big__img" src="{{ product.img1.url }}" alt="">
                                <img data-hash="product-2" class="product__big__img" src="{{ product.img2.url }}" alt="">
                                <img data-hash="product-3" class="product__big__img" src="{{ product.img3.url }}" alt="">
                                <img data-hash="product-4" class="product__big__img" src="{{ product.img4.url }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3>{{ product.name }}
                            </h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>( 138 reviews )</span>
                        </div>
                        {% if product.discounted_price < product.selling_price %}
                        <div class="product__details__price">{{ product.discounted_price }}.00 <span> {{ product.selling_price }}</span></div>
                        {% else %}
                        <div class="product__details__price">{{ product.selling_price }} <span> {{ product.original_price }}</span></div>
                        {% endif %}
                        <p>{{ product.description }}</p>
                        <div class="product__details__button">

                            <form action="/addtocart/{{ product.id }}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="quantity">
                                    <span>Quantity:</span>
                                    <div class="pro-qty"><input type="text" name="quantity" value="1" readonly></div>
                                    
                                </div>
                                

                                <div class="product__details__widget">
                                    <ul>
                                        <li>
                                            <span>Availability:</span>
                                            {% if var %}
                                                {% if var > 0 %}
                                                    <p>In Stock</p>
                                                {% else %}
                                                    <p>Out Of Stock</p>
                                                {% endif %}
                                            {% endif %}
                                        </li>
                                        
                                       
                                        <li>
                                            <span>Available size:</span>
                                            <div class="size__btn">
                                                <select name="size" id="size-dropdown" class="js-example-basic-single">
                                                    {% for variant in variants %}
                                                         
                                                        <option value="{{ variant.size }}" {% if forloop.first %}selected{% endif %}>
                                                            {{ variant.size }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </li>
                                        <li>
                                            <span>Shipping charge :</span>
                                            <p>Free shipping</p>
                                        </li>
                                    </ul>
                                    
                                </div>
                                {% if variants %}
                                <button type="submit" class="cart-btn " >  Add to cart </button>
                                    <ul>
                                        <li><a href="{% url 'add_to_wishlist' id=product.id from_page='product_details' %}"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="/showcart/"><span class="icon_adjust-horiz"></span></a></li>
                                    </ul>
                                {% else %}
                                <a class="cart-btn ">Out of Stock</a>
                                    
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Specification</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <h6>Description</h6>
                                <p>{{ product.description }}</p>
                            </div>

                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <h6>Specification</h6>
                                <p>{{ product.description }}</p>
                            </div>

                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <h6>Reviews</h6>
                                <p>{{ product.description }}</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>RELATED PRODUCTS</h5>
                    </div>
                </div>

                {% for related in related_products %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{{ related.img1.url }}">
                            <a href="/product_details/{{related.id}}"><img href="#" src="{{related.img1.url}}" alt="related image"></a>
                            <ul class="product__hover">
                                <li><a href="{{ related.img1.url }}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                <li><a href="{% url 'add_to_wishlist' id=product.id from_page='product_details' %}"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="/product_details/{{ related.id }}">{{ related.name }}</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">{{ related.selling_price }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <script>
        // Initialize Select2 on your dropdown
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
        });
    </script>
    {% endblock content %}
    <!-- Product Details Section End -->

    <!-- Instagram Begin -->
    {% block instagram %}
    {% include "inc/instagram.html" %}
    {% endblock instagram %}
    <!-- Instagram End -->



    <!-- Footer Section Begin -->
    {% block footer %}
    {% include "inc/footer.html" %}
    {% endblock footer %}
    <!-- Footer Section End -->



