 {% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "/main/css/login/login.css" %}">
    <link rel="stylesheet" href="{% static "/main/css/style.css" %}" type="text/css">
</head>

<body>
    {% include "inc/navbar.html" %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form class="login-form" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <h2>Login</h2>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" placeholder="Email" class="form-control" name="email" id="email" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" placeholder="Password" class="form-control" id="password" name="password" required>
                    </div>

                    <button type="submit" class="btn btn-login btn-block">Login</button>

                    {% if messages %}
                    <ul class="messages  " style="list-style: none; color:red">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                    <div class="login-form-footer text-center">
                        <p class="mb-0">Don't have an account? <a href="{% url "signup" %}">Sign Up</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% comment %} {% block instagram %}
    {% include "inc/instagram.html" %}
    {% endblock instagram %}
     {% endcomment %}
    {% block footer %}
    {% include "inc/footer.html" %}
    {% endblock footer %}
    
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>

