
{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "main/css/login/login.css" %}">
    <link rel="stylesheet" href="{% static "/main/css/style.css" %}" type="text/css">
</head>

<body>
    {% include "inc/navbar.html" %}
    {% include "inc/message.html" %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form class="login-form" action="{% url 'otpverify' id=user.id %}" method="post">
                    {% csrf_token %}
                    <h2>OTP Verification</h2>

                    <div class="form-group">
                        <label for="otp">Enter OTP</label>
                        <input type="number" placeholder="Enter OTP" class="form-control" name="otp" id="otp" required>
                    </div>
                    <button type="submit" class="btn btn-login btn-block">Verify OTP</button>
                </form>
            </div>
        </div>
    </div>

    {% include "inc/instagram.html" %}
    {% include "inc/footer.html" %}
    
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            // Manually trigger a Bootstrap toast and append it to the new container
            $('.toast').toast('show').appendTo('#message-container');
        });
    </script>
</body>

</html>

