{% extends 'admin_base.html' %}
{% load static %}


{% block content %}

<!-- Include SweetAlert library and jQuery -->


<style>
    .table td,{
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<main id="main" class="main">

    <div class="pagetitle">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1>Cancelled Produts</h1>
            </div>
            <div class="col-md-6 text-end">
                <form class="d-flex justify-content-end" method="GET" action="">
                    <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search" name="search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Admin</li>
                <li class="breadcrumb-item active">Orders</li>
                <li class="breadcrumb-item active">Cancel Requests</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <!-- Recent Sales -->
    <div class="col-12">
        <div class="card recent-sales overflow-auto">
            <div class="card-body">
                <table class="table datatable table-borderless mt-3">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>User ID</th>
                            <th>Product Image</th>
                            <th>Order ID</th>
                            <th>Product Name</th>
                            <th>Reason</th>
                            <th>Payment Method</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in data %}
                        <tr class="align-middle">
                            <td>{{ i.id }}</td>
                            <td class="align-middle">
                                {{ i.user_id.id }}    
                            </td>
                            <td class="align-middle">
                                <img src="{{ i.order_id.product.product_id.img1.url }}" alt="{{ i.order_id.product.product_id.img1.url }}" width="100" height="100">
                            </td>
                            <td class="align-middle">
                                {{ i.order_id.id }}
                            </td>
                            <td class="align-middle">
                                {{ i.order_id.product.product_id.name }}
                            </td>
                            <td class="align-middle">
                                {{ i.cancel_reason }}
                            </td> 
                            <td class="align-middle">
                                {{ i.order_id.order_id.payment_method }}    
                            </td>                           
                        </tr>
                        {% endfor %}
                    </tbody>                    
                </table>


                    <!------------------------------ pagination -------------------------->
            {% if data.paginator.num_pages > 1 %}
                {% if not disable_pagination %}
                <div class="pagination justify-content-center mt-3">
                    <ul class="pagination">
                        {% if data.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">&laquo; First</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ data.previous_page_number }}">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">&laquo; First</span>
                            </li>
                            <li class="page-item disabled">
                                <span class="page-link">Previous</span>
                            </li>
                        {% endif %}
                        
                        <li class="page-item">
                            <span class="page-link">
                                Page {{ data.number }} of {{ data.paginator.num_pages }}
                            </span>
                        </li>
                        
                        {% if data.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ data.next_page_number }}">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ data.paginator.num_pages }}">Last &raquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">Next</span>
                            </li>
                            <li class="page-item disabled">
                                <span class="page-link">Last &raquo;</span>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
            {% endif %}
            <!------------------------------ end pagination -------------------------->


            </div>
        </div>
    </div><!-- End Recent Sales -->

</main><!-- End #main -->

<!-- Include SweetAlert library and jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
{% endblock content %}