

{% extends 'admin_base.html' %}
{% load static %}

{% block content %}

<style>
    .pagination .page-link {
        color: #007bff; /* Blue color for links */
    }

    .pagination .page-item.active .page-link {
        background-color: #007bff; /* Blue background color for active page */
        border-color: #007bff; /* Blue border color for active page */
    }

    .pagination .page-link:hover {
        color: #0056b3; /* Darker blue color on hover */
    }
</style>

<div>
    <div class="pagetitle">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1>Products</h1>
            </div>
            <div class="col-md-6 text-end">
                <form class="d-flex justify-content-end" method="GET" action="">
                    <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search" name="search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
            <div class="col-md-12 text-end">
                <div class="addproductbutton">
                    <a href="/addproduct/" class="btn btn-dark mt-2">Add Products</a>
                </div>
            </div>
        </div>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Admin</li>
                <li class="breadcrumb-item active">Products</li>
                
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <!-- Recent Sales -->
    <div class="col-12">
        <div class="card recent-sales overflow-auto">
            <div class="card-body">
                <table class="table table-borderless datatable mt-3">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Product Image</th>
                            <th>Product Name</th>
                            <th>Variant Details</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Actions</th>                           
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in product %}
                        <tr class="align-middle">
                            <td>{{i.id}}</td>
                            <td class="align-middle">
                                {% if i.img1 %}
                                <img src="{{ i.img1.url }}" alt="{{ i.name }}" width="100" height="100">
                                {% endif %}
                            </td>
                            <td class="align-middle">
                                {{i.name}}
                            </td>
                             
                            <td class="align-middle">
                                {% if i.variant_set.all %}
                                <a href='/variant/{{i.id}}' type="button" class="btn btn-sm btn-primary ">Show Variant</a>
                                {% else %}
                                <a href='/add_variant/{{i.id}}' type="button" class="btn btn-sm btn-danger ">Add Variant</a>
                                {% endif %}
                            </td> 
                            
                            <td class="align-middle">
                                {{i.category}}
                            </td>
                            <td class="align-middle">
                                {{i.selling_price}}
                            </td>
                            <td class="align-middle">
                                <a class="badge btn btn-warning" href="/editproduct/{{i.id}}">
                                    Edit
                                </a>
                                {% if i.is_listed %}
                                <a class="badge btn btn-sm bg-danger" href="/unlist_product/{{ i.id }}">Unlist</a>
                                {% else %}
                                <a class="badge btn btn-sm bg-danger" href="/list_product/{{ i.id }}">List</a>
                                {% endif %}
                            </td> 
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>

<!------------------------------ pagination -------------------------->
        {% if product.paginator.num_pages > 1 %}
             {% if not disable_pagination %}
                <div class="pagination justify-content-center">
                    <ul class="pagination">
                        {% if product.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">&laquo; First</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ product.previous_page_number }}">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">&laquo; First</span>
                            </li>
                            <li class="page-item disabled">
                                <span class="page-link">Previous</span>
                            </li>
                        {% endif %}
                        
                        <li class="page-item">
                            <span class="page-link">
                                Page {{ product.number }} of {{ product.paginator.num_pages }}
                            </span>
                        </li>
                        
                        {% if product.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ product.next_page_number }}">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ product.paginator.num_pages }}">Last &raquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">Next</span>
                            </li>
                            <li class="page-item disabled">
                                <span class="page-link">Last &raquo;</span>
                            </li>
                        {% endif %}
                    </ul>
                </div>

                 {% endif %}
                {% endif %} 
<!------------------------------ pagination end -------------------------------->
                
            </div>
        </div>
    </div><!-- End Recent Sales -->
<div>


<!-- Add these lines in the <head> section of your HTML template -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> 

{% endblock content %}
