{% extends 'admin_base.html' %}

{% block content %}


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<style>
    th, td {
        vertical-align: middle; 
        text-align: center;
    }
</style>
<main id="main" class="main">

    <div class="pagetitle">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1>Product Varient</h1>
            </div>
            <div class="col-md-6 text-end">
                <div class="d-flex justify-content-end me-3">
                    <a href='/add_variant/{{ id }}' type="button" class="btn btn-dark">Add Variant</a>
                </div>
            </div>
        </div>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Admin</li>
                <li class="breadcrumb-item">Products</li>
                <li class="breadcrumb-item active">Product variants</li>
            </ol>
        </nav>
    </div>
    
    <!-- End Page Title -->
    
        <!-- Recent Sales -->
        <div class="col-12">
            <div class="card recent-sales overflow-auto">
                <div class="card-body">
                    <table class="table datatable table-borderless mt-3">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Product Image</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Size</th>
                                <th>Quantity</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for variant in variants %}
                                <tr>
                                    <td>{{ variant.id }}</td>
                                    <td>
                                        <img src="{{ variant.product_id.img1.url }}" alt="{{ variant.product.name }}" >
                                    </td>
                                    <td>{{ variant.product_id.name }}</td>
                                    <td> {{ variant.product_id.selling_price }} </td>
                                    <td>{{ variant.size }}</td>
                                    <td>
                                        {% if variant.stock > 0 %}
                                            {{ variant.stock }}
                                        {% else %}
                                            <div class="text-danger" >Out of Stock</div>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        <a class="badge btn btn-warning" href="/edit_variant/{{variant.id}}">Edit</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- End Recent Sales -->
    </main>

{% endblock content %}